@import '../../marketplace.css';

.priceCalculator {
  @apply --marketplaceModalBaseStyles;
  padding: 25px 40px;
  display: flex;
  justify-content: center;

  position: absolute;
  margin: 0 24px;
  left: 0;
  right: 0;
  bottom: -175px;
  
  @media (--viewportMedium) {
    position: initial;
    padding: 40px;
    max-width: 360px;
    margin-top: 5vh;
  }
}

.priceCalculatorInput {
  border-bottom-color: var(--attentionColor);
}

.priceCalculatorTitle {
  margin-top: 0;
}

.priceCalculatorFooter {
  text-align: center;
  margin: 30px 0 0;
}